.search-input {
    --padding: 0.5rem;

    display: flex;
    place-content: center;
    place-items: center;

    padding: var(--padding);

    border-radius: 100rem;
    background-color: var(--background-lighter-colour);

    overflow: hidden;

    select {
        padding-left: 1.5rem;
        padding-block: calc(var(--padding) * 3);
        margin: calc(var(--padding) * -1);
        margin-right: var(--padding);

        border-radius: 0;
        border-left: 1px solid var(--half-white-transparent);
    }
}