.font-card {
    --font-family: inherit;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow: hidden;

    &>header {
        display: flex;
        place-content: baseline stretch;
        place-items: baseline stretch;
        gap: 1rem;

        &>h3 {
            font-size: 120%;
        }

        &>small {
            font-size: 85%;
            color: var(--fore-darker-colour);
        }

        .rating-displayer {
            place-self: center;
            margin-left: auto;
        }

    }

    .marquee {
        font-size: 200%;
        text-wrap: nowrap;
        font-family: var(--font-family);

        flex-grow: 1;
    }
}