@tailwind base;
@tailwind variants;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: CascadiaCode;
    font-style: normal;
    font-weight: 400;
    src: local("Cascadia Code"), url("https://fonts.cdnfonts.com/s/29131/Cascadia.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

:root {
    --fore-colour: #FFF;
    --main-colour: #7FA4E1;
    --fore-darker-colour: #999;
    --background-colour: #202124;
    --half-transparent: #0000007C;
    --half-white-transparent: #FFFFFF7C;
    --background-lighter-colour: #262A32;

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    min-height: 100vh;
    min-height: 100dvh;

    color: var(--fore-colour);
    background-color: var(--background-colour);

    transition: background-color 250ms, color 250ms;

    &.light-mode {
        --fore-colour: #000;
        --main-colour: #7FA4E1;
        --fore-darker-colour: #202124;
        --background-colour: #DCE1F0;
        --half-transparent: #ffffff7c;
        --half-white-transparent: #0000007c;
        --background-lighter-colour: #B3C1F0;
    }
}

::-webkit-scrollbar {
    @apply size-3;
}

::-webkit-scrollbar-track {
    @apply bg-black/50;
}

*:not(body)::-webkit-scrollbar-track {
    @apply outline-[3px] outline-black/50 rounded-[100rem];
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-colour);
    @apply border-2 border-black/50 rounded-[100rem];
}

.button-displayer {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

input,
select {
    padding: 0.5rem 1rem;

    color: inherit;
    border-radius: 10px;
    background-color: var(--background-lighter-colour);
}

input,
select,
button {

    &:is(:focus, :focus-within, :focus-visible) {
        outline: none;
    }
}

select {
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
}

input::placeholder {
    color: var(--half-white-transparent);
}

a.icon-button {
    width: 4rem;
    aspect-ratio: 1;

    display: flex;
    place-content: center;
    place-items: center;
}